.bauble_box {
    display: inline-block;
    /* margin-top: 1rem; */
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem 1rem;
    padding-right: 1rem;
  }
  
  .bauble_box .bauble_label {
    background: #fff;
    border: 0;
    border-radius: 50px;
    box-shadow: inset 0 10px 20px rgba(0,0,0,.4), 0 -1px 0px rgba(0,0,0,.2), inset 0 -1px 0px #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 40px;
    position: relative;
    transition: all 500ms ease;
    width: 90px;
  }
  
  .bauble_box .bauble_label:before {
    background-color: #a190e4;
    border-radius: 50%;
    content: '';
    display: block;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 6px;
    transition: all 500ms ease;
    width: 30px;
    z-index: 2;
  }
  
  .bauble_box input.bauble_input {
    opacity: 0;
    z-index: 0;
  }
  
  /* Toggle switch when unchecked */
  .bauble_box input.bauble_input:not(:checked) + .bauble_label {
    background-color: #fff;
  }
  
  /* Toggle switch when checked */
  .bauble_box input.bauble_input:checked + .bauble_label {
    background-color: #BEB0FF; /* Pink/blue gradient theme */
  }
  
  /* Toggle button movement when checked */
  .bauble_box input.bauble_input:checked + .bauble_label:before {
    left: calc(100% - 35px);
    
    /* box-shadow: inset 0 -5px 25px white, 0 10px 20px white */
    background-color: white
    ;
  }
  
  /* Move back to original position when unchecked */
  .bauble_box input.bauble_input:not(:checked) + .bauble_label:before {
    left: 5px;
  }
  









  .distributor-form__container.white {
    background: white;
    color: black; /* Change text color if necessary */
    border: 1px solid #ccc; /* Example border */
  }
  
  /* Pink/Blue theme */
  .distributor-form__container.pinkblue {
    background: rgb(199, 175, 255);
    background: linear-gradient(135deg, rgba(199, 175, 255, 1) 29%, rgba(148, 181, 255, 1) 100%);
    color: white; /* Adjust text color for better contrast */
    border: 1px solid #ccc; /* Optional: change border color */
  }