/* Login Form Container */
.login-form__container {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    padding: 2rem;
    background-color: #1D1F26;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Outer shadow with a soft blur */
                0 6px 20px rgba(0, 0, 0, 0.1); /* Additional shadow for more depth */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition on hover or focus */
    border-radius: 10px;
}

.login-form__container:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5), /* Stronger shadow on hover */
                0 12px 40px rgba(0, 0, 0, 0.5); /* Deeper effect on hover */
}

/* Form Title */
.login-form__title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    background-color: #155BB5;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Input Group */
.login-input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

/* Input Fields */
.login-input {
    width: 100%;
    padding: 1rem;
    font-family: "Roboto", sans-serif;  
    border: 1.5px solid #9e9e9e;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 10px;
    background-color: #EFF0F4;
    color: #333333;
    font-weight: 600;
    transition: border-color 0.3s ease;
    border: 2px solid black;
}

.login-input:focus {
    outline: none;
    border: 2px solid #1a73e8;
}

/* Floating Labels */
.login-label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #26282e;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif !important;
    pointer-events: none;
    transition: all 0.2s ease;
}

.login-input:focus ~ .login-label,
.login-input:valid ~ .login-label {
    top: -7px;
    padding: 0 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Submit and Reset Buttons */
.login-submit-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #1a73e8;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-reset-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #616368;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-submit-btn:hover {
    background-color: #155bb5;
}

.login-reset-btn:hover {
    background-color: #7c7c80;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .login-form__title {
        width: 100% !important; /* Increase the width on small screens */
        font-size: 1.5rem;
    }

    .login-reset-btn {
        margin-top: 10px;
    }
}



