.table-product {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }
  
  .progress-md {
    height: 20px;
    width: 100px;
    color: red !important;
    
  }
  
  .card-header h2 {
    font-weight: 600;
    margin: 0;
  }
  
  .btn-pill {
    border-radius: 50px;
    background-color:rgb(66, 66, 177) ;
  }
  
  .form-control {
    max-width: 300px;
  }
  