.tableIcons
{
    font-size: 18px ;
}
.delete-btn
{
    color: rgb(190, 5, 5);
}
.edit-btn
{
    color: rgb(1, 110, 1);
}
.login-btn
{
    color: rgb(0, 96, 160);
}


.table-caption
{
    display: flex !important;
    justify-content: center !important;
}

.form-head-text
{
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    background-color:#385F98 !important;
    color: white;
    
}

.state-card-header
{
    background-color: #385F98 !important;
    height: 50px !important;
    color: white ;
    display: flex !important;
    justify-content: center ;
    align-items: center;
    font-size: 25px !important;
    font-weight: 500 !important;
    
}

.stateInfoContainer
{
    border-radius: 10% !important;
}
